ion-content{
    --ion-background-color: #1010fe;
}

ion-row{
    --ion-background-color:white;
}

.MarginButton{
    margin-top: 20px;
}

.MarginButton2{
    margin-top: 200px;
    margin-left: 100px;
}

.MarginLabel{
    margin-top: 20px;
    text-align: center;
}

.MarginGrid{
    margin-top: 100px;
}

.MarginInput{
    text-align: start;
    margin-left: 10px;
}

