
#map{

    width: 100% !important;
    height: 100% !important;
    background-color: #F6F6F4;
}

.ionBackButton{
    position: fixed;
    top: 30px;
    left: 12px;
    font-size: 23px !important;
}

.ionButton{
    position: fixed;
    right: 60px;
    font-size: 1px !important;
}